<div id="Cultivation" style="display:none" class="well NrlDialog" data-ng-controller="Cultivation.PageController" data-on-key-down="navigateBackward()" data-keys="[27]">
    <div data-on-key-down="onEscWhileInDialog()" data-keys="[27]">
        <div data-alert="" data-ng-repeat="alert in pageModel.alerts" data-type="alert.type" data-close="closeAlert($index)">
            <div data-ng-bind-html-unsafe="alert.msg"></div>
        </div>
        <div class="FormArea" data-ng-show="!HeaderSection_0_invisible()" >
            <table>
                <tr>
                    <td colspan="1" style="width:25%" >
                        <span data-np-factory='createFileUploadComponent_Cultivation_impCults_id()' data-np-file-upload='dummy' />
                    </td>
                    <td colspan="1" style="width:25%" >
                        <button  id="HeaderSection_0_1" title="{{getALString('Delete All Selected Crops')}}"   data-np-click  ="deleteSelectedCrops()" data-ng-class="" 
                        data-ng-disabled="HeaderSection_0_1_disabled()"  >
                            {{getALString('Delete Selected Crops')}}
                        </button>

                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
            </table>
        </div>
        <div id="Cultivation_ControllerGrpCultivation" data-ng-controller="Cultivation.ControllerGrpCultivation" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
            <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                <div class="TopGridArea">
                    <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                    <button data-ng-click="model.showSearchParams=!model.showSearchParams" data-ng-class="'FiltersOn'" ><i class="icon filter" />{{getALString("Show Filters")}}</button>
                    <button data-np-click="selectActiveSetEntities()">(+)</button>
                    <button data-np-click="unUselectActiveSetEntities()">(-)</button>

                    <h3>{{getALString(gridTitle())}}</h3>
                    <div style="float: right" popover='{{getALString("ExportToExcelButtonHint")}}' popover-trigger="mouseenter" popover-placement="left">
                        <button data-np-click="exportToExcelBtnAction()" data-ng-disabled="expToExcelIsDisabled()" >XLS</button>
                    </div>
                </div>
                <div class="GridSearchArea" data-ng-show="model.showSearchParams">
                    <table>
                        <tr>
                            <td colspan="1" style="width:16%" >
                                <label class="pull-left" for="GrpCultivation_srchr__fsch_name"  data-ng-bind="getALString('Name')"   />
                            </td>
                            <td colspan="1" style="width:16%" >
                                <label class="pull-left" for="GrpCultivation_srchr__fsch_code"  data-ng-bind="getALString('Code')"   />
                            </td>
                            <td colspan="1" style="width:16%" >
                                <label class="pull-left" for="GrpCultivation_srchr__fsch_cotyId"  data-ng-bind="getALString('Cover Type')"   />
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" style="width:16%" >
                                <input name='GrpCultivation_srchr__fsch_name' data-ng-model='modelGrpCultivation.fsch_name' data-np-ui-model='modelGrpCultivation._fsch_name' data-ng-readonly='GrpCultivation_srchr__fsch_name_disabled()' data-np-text='dummy' />
                            </td>
                            <td colspan="1" style="width:16%" >
                                <input name='GrpCultivation_srchr__fsch_code' data-ng-model='modelGrpCultivation.fsch_code' data-np-ui-model='modelGrpCultivation._fsch_code' data-ng-readonly='GrpCultivation_srchr__fsch_code_disabled()' data-np-number='dummy' data-np-decimals='0' data-np-decSep=',' data-np-thSep='' class='ngCellNumber' />
                            </td>
                            <td colspan="1" style="width:16%" >
                                <select name='GrpCultivation_srchr__fsch_cotyId' data-ng-model='modelGrpCultivation.fsch_cotyId' data-np-ui-model='modelGrpCultivation._fsch_cotyId' data-np-select='dummy' data-ng-options='x.value as x.label for x in getDropDownItems_GrpCultivation_srchr__fsch_cotyId() track by x.cotyId' data-ng-disabled='GrpCultivation_srchr__fsch_cotyId_disabled()' />
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                        </tr>
                    </table>
                    <div class="GridSearchAreaFooter">
                        <button data-np-click="updateGrid()"><i class="icon search" />{{getALString("Search")}}</button>
                        <button data-np-click="clearBtnAction()"><i class="icon clear" />{{getALString("Clear")}}</button>
                    </div>
                </div>
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div id="GrpCultivation_tableId" data-ng-grid="modelGrpCultivation.grid" class="gridStyle">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="saveCancel">
                <button  id="saveBtn_id"   data-np-click  ="onSaveBtnAction()" data-ng-class="" 
                data-ng-disabled="saveIsDisabled()"  >
                    <i class="icon save"/>
                    {{getALString(getLabelById('saveBtn_id'))}}
                </button>

                <button  id="cancelBtn_id"   data-np-click  ="onCancelBtnAction()" data-ng-class="" 
                data-ng-disabled="cancelIsDisabled()"  >
                    <i class="icon back"/>
                    {{getALString(getLabelById('cancelBtn_id'))}}
                </button>

            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
