
<div data-ng-controller="controllerChangePass">
    <div class="well" style="">
        <label for="email" ><b>{{getALString("ChangePasswdDialog_user_label")}}</b></label>
        <input id="emailForLogin" required data-ng-model="modelChangePass.publicUserName" name="email" type="text" placeholder="e-mail">
        <label for="oldpass"><b>{{getALString("ChangePasswdDialog_oldpass_label")}}</b></label>
        <input id="oldPasswordForLogin" required data-ng-model="modelChangePass.oldPassword" name="oldpass" type="password" placeholder="Old password">
        <label for="newpass1"><b>{{getALString("ChangePasswdDialog_newpass1_label")}}</b></label>
        <input id="newPasswordForLogin1" required data-ng-model="modelChangePass.newPassword1" name="newpass1" type="password" placeholder="New password">
        <label for="newpass2"><b>{{getALString("ChangePasswdDialog_newpass2_label")}}</b></label>
        <input id="newPasswordForLogin2" required data-ng-model="modelChangePass.newPassword2" name="newpass2" type="password" placeholder="Repeat new password">
        <div>
            <button style="margin-bottom:1em; width:16em; float:left !important" type="button" 
                data-ng-click="setNewPassword()" >{{getALString("ChangePasswdDialog_set_button")}}</button>
            <button style="margin-bottom:1em; width:16em; float:right !important" type="button" 
                data-ng-click="closeChangePass()" >{{getALString("ChangePasswdDialog_back_button")}}</button>
            <span style="clear:both">&nbsp;</span>
        </div>
        <div class="alert" data-ng-show='modelChangePass.message!=""'>
            &nbsp;<br>
            <div data-ng-bind-html-unsafe="modelChangePass.message"></div>
        </div>
    </div>
</div>
