<div data-ng-controller="controllerSearchLayers" data-on-key-down="nevermind()" data-keys="[27,119]">
    <div style="margin: 1em 2em">
        <div style="margin-left: auto; margin-right:auto">
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td><b>Επίπεδο αναζήτησης:</b></td>
                </tr>
                <tr>
                    <td>
                        <select class="mySelect" data-ng-model="modelSearch.searchLayer"
                                data-np-select
                                data-np-required='true'
                                data-ng-options='x as x.label for x in modelSearch.inputs track by x.id'>
                        </select>
                    </td>
                </tr>
                <tr><td></td></tr>
                <tr>
                    <td><b>Επίπεδο αποτελεσμάτων:</b></td>
                </tr>
                <tr>
                    <td>
                        <select class="mySelect" data-ng-model="modelSearch.resultLayer"
                                data-np-select
                                data-np-required='true'
                                data-ng-options='x as x.label for x in modelSearch.outputs track by x.id'>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 1em; text-align: center">
            <button style="margin-bottom:1em; width:8em" type="button" 
                data-ng-click="doTheWork()" class="btn btn-large btn-primary">OK</button>
        </div>
    </div>
</div>
