<div data-ng-controller="controllerChooseGeom" data-on-key-down="nevermind()" data-keys="[27]">
    <div style="margin: 1em 2em">
        <div style="margin-left: auto; margin-right:auto">
            <table style="font-size: 10pt">
                <tr data-ng-repeat="row in model.rows">
                    <td width="10em" data-ng-bind-html-unsafe="row.area" align="left"></td>
                    <td><button data-ng-click="preview(row.origIdx)">Preview</button></td>
                </tr>
            </table>
            <div style="margin-top:1em">
                <center>
                    <button data-ng-click="select()" data-ng-disabled="model.dataSetIdx === -1">Set</button>
                    <button data-ng-click="nevermind()">Cancel</button>
                </center>
            </div>
        </div>
        <!--<div style="margin-top: 1em">-->
            <!--<button style="margin-bottom:1em; width:8em; float:right !important" type="button" -->
                <!--data-ng-click="nevermind()" class="btn btn-large btn-primary">Άκυρο</button>-->
        <!--</div>-->
    </div>
</div>
