<div data-ng-controller="controllerExclusiveLayers" data-on-key-down="nevermind()" data-keys="[27,119]">
    <div style="margin: 1em 2em">
        <div style="margin-left: auto; margin-right:auto">
            <table>
                <tr>
                    <td></td><td><b>Επίπεδα που θα χρησιμοποιηθούν για αποκοπή</b></td>
                </tr>
                <tr data-ng-repeat="layer in model.layers">
                    <td style="text-align:center">
                        <input type="checkbox" data-ng-change="change(layer)" data-ng-model="layer.enabled"></td>
                    <td data-ng-bind="layer.name"></td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 1em; text-align: center">
            <button style="margin-bottom:1em; width:8em" type="button" 
                data-ng-click="nevermind()" class="btn btn-large btn-primary">OK</button>
        </div>
    </div>
</div>
