<div data-ng-controller="controllerChooseSplitLine" data-on-key-down="nevermind()" >
    <div style="margin: 1em 2em">
        <div style="margin-left: auto; margin-right:auto">
            <table style="font-size: 10pt">
                <tr data-ng-repeat="row in model.rows">
                    <td width="10em" data-ng-bind-html-unsafe="row.length" align="left"></td>
                    <td><button data-ng-click="preview(row.origIdx)">Προεπισκόπηση</button></td>
                </tr>
            </table>
            <div style="margin-top:1em">
                <center>
                    <button data-ng-click="select(row.origIdx)" data-ng-disabled="model.dataSetIdx === -1">Ορισμός</button>
                    <button data-ng-click="nevermind()">Ακύρωση</button>
                </center>
            </div>
        </div>      
        
        
    </div>
</div>
