<div data-ng-controller="controllerJump">
    <div style="margin: 1em 2em">
        <div style="margin-left: auto; margin-right:auto">
            <center>
                <div>
                    <span><b>Lon:</b></span>
                    <input id="XCoord" autocomplete="on" style="display: inline; width:10em"
                           data-np-thSep="" data-np-decimals="6"
                           data-np-number="dummy" data-ng-model="model.XCoord" data-np-ui-model="model._XCoord"
                           name="XCoord" type="text" placeholder="Lon">
                </div>
                <div>
                    <span><b>Lat:</b></span>
                    <input id="YCoord" autocomplete="on" style="display: inline; width:10em" data-np-thSep=""
                           data-np-thSep="" data-np-decimals="6"
                           data-np-number="dummy" data-ng-model="model.YCoord" data-np-ui-model="model._YCoord"
                           name="YCoord" type="text" placeholder="Lat">
                </div>
                <div>
                    &nbsp;<br><font style='size: 9pt'><b><em>Coordinates System:</em></b><br>&nbsp;{{model.coordinateSystem}}</font>
                </div>
            </center>
        </div>
        <div style="margin-top: 1em">
            <button style="margin-bottom:1em; width:8em; float:left  !important"
                data-ng-disabled="!allGood()" data-ng-click="navigateToCoords()"
                class="btn btn-large btn-primary" type="submit">Jump To</button>
            <button style="margin-bottom:1em; width:8em; float:right !important" type="button" 
                data-ng-click="nevermind()" class="btn btn-large btn-primary">Cancel</button>
        </div>
    </div>
</div>
