<div id="DynamicSqlLayerFilterController_id" class="LovDialog NrlDialog" data-ng-controller="dynamicSqlLayerFilterController">
    <div class="NpTable">
        <div class="GridSearchArea" data-ng-show="model.showSearchParams">
            <h4>Κριτήρια αναζήτησης</h4>
            <table>
                <tr>
                    <td colspan="1" style="width:32%" >
                        <label class="pull-right" for="GEO_FUNC"  data-ng-bind="'Οι γεωμετρίες'" data-ng-show="!isGeoFuncInvisible()" />
                    </td>
                    <td colspan="1" style="width:32%" >
                        <select name='GEO_FUNC' data-ng-model='model.geoFunc' data-np-ui-model='model._geoFunc' data-ng-change='onGeoFuncChanged()' data-ng-show='!isGeoFuncInvisible()' data-np-select='dummy' data-ng-options='x.value as x.label for x in getGeoFunList()' data-ng-disabled='GEO_FUNC_disabled()' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-right" for="GEO_FUNC_PRM"  data-ng-bind="'Km'" data-ng-show="!isGeoFuncParamInvisible()" />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='GEO_FUNC_PRM' data-ng-model='model.geoFuncParam' data-np-ui-model='model._geoFuncParam' data-ng-show='!isGeoFuncParamInvisible()' data-ng-readonly='GEO_FUNC_PRM_disabled()' data-np-text='dummy' />
                    </td>
                </tr>
            </table>

            <div class="GridSearchAreaFooter">
                <button data-np-click="updateGrid()"><i class="icon search" />Αναζήτηση</button>
                <button data-np-click="clearBtnAction()"><i class="icon clear" />Καθαρισμός</button>
            </div>
        </div>

        <div data-on-key-down="closeDialog()" data-keys="[123,13]"><!-- The dialog must close with F12 and ENTER -->
            <div data-on-key-down="gridPageUp()" data-keys="[33]">
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div tabIndex="0"  id="lovGridId"  data-ng-grid="model.grid" class="gridStyle" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LovButtonsArea">
        <button data-np-click="onApplyNewFilter()"><i class="icon select"/>Ορισμός (F12)</button>
        <button data-np-click="onClearFilters()"><i class="icon clear"/>Καθαρισμός</button>
    </div>
</div>
