<div id="ExcelFileImportResultsDlg" class="well NrlDialog" data-ng-controller="ExcelFileImportResultsDlg.PageController" data-on-key-down="navigateBackward()" data-keys="[27]">
    <div data-on-key-down="onEscWhileInDialog()" data-keys="[27]">
        <div data-alert="" data-ng-repeat="alert in pageModel.alerts" data-type="alert.type" data-close="closeAlert($index)">
            <div data-ng-bind-html-unsafe="alert.msg"></div>
        </div>
        <div id="ExcelFileImportResultsDlg_ControllerGrpExcelFile" data-ng-controller="ExcelFileImportResultsDlg.ControllerGrpExcelFile" data-ng-class="'FloatLeft'" data-ng-show="true" >
            <div class="FormArea"  >
                <table>
                    <tr>
                        <td colspan="1" style="width:40%" >
                            <label class="pull-left" for="GrpExcelFile_itm__filename"  data-ng-bind="getALString('ImportExvel_ResultsDlg_File')" />
                        </td>
                        <td colspan="1" style="width:16%" >
                            <label class="pull-left" for="GrpExcelFile_itm__totalRows"  data-ng-bind="getALString('ImportExvel_ResultsDlg_File_NumRecords')"   />
                        </td>
                        <td colspan="1" style="width:16%" >
                            <label class="pull-left" for="GrpExcelFile_itm__totalErrorRows"  data-ng-bind="getALString('ImportExvel_ResultsDlg_File_NumErrorRecords')"   />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" style="width:40%">
                            <span data-ng-model='modelGrpExcelFile._data' data-np-factory='createBlobModel_GrpExcelFile_itm__data()' data-np-blob='dummy' />
                        </td>
                        <td colspan="1" style="width:16%" >
                            <input name='GrpExcelFile_itm__totalRows' data-ng-model='modelGrpExcelFile.totalRows' data-np-ui-model='modelGrpExcelFile._totalRows' data-ng-readonly='true' data-np-number='dummy' data-np-decimals='0' data-np-decSep=',' data-np-thSep='.' class='ngCellNumber' />
                        </td>
                        <td colspan="1" style="width:16%" >
                            <input name='GrpExcelFile_itm__totalErrorRows' data-ng-model='modelGrpExcelFile.totalErrorRows' data-np-ui-model='modelGrpExcelFile._totalErrorRows' data-ng-readonly='true' data-np-number='dummy' data-np-decimals='0' data-np-decSep=',' data-np-thSep='.' class='ngCellNumber' />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                </table>
            </div>
            <div style='margin:1em 0'></div>
            <div id="ExcelFile_ControllerGrpExcelError" data-ng-controller="ExcelFileImportResultsDlg.ControllerGrpExcelError" data-ng-class="'FloatLeft'" >
                <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                    <div class="TopGridArea">
                        <button data-ng-click="model.showSearchParams=!model.showSearchParams" data-ng-class="'FiltersOn'" ><i class="icon filter"></i>{{getALString("Show Filters")}}</button>

                        <h3>{{getALString(gridTitle())}}</h3>
                        <div style="float: right" popover='{{getALString("ExportToExcelButtonHint")}}' popover-trigger="mouseenter" popover-placement="left">
                            <button data-np-click="exportToExcelBtnAction()" >XLS</button>
                        </div>
                    </div>
                    <div class="GridSearchArea" data-ng-show="model.showSearchParams">
                        <table>
                            <tr>
                                <td colspan="1" style="width:16%" >
                                    <label class="pull-left" for="GrpExcelError_srchr__fsch_row"  data-ng-bind="getALString('Row\nNum')"   />
                                </td>
                                <td colspan="1" style="width:64%" >
                                    <label class="pull-left" for="GrpExcelError_srchr__fsch_errMessage"  data-ng-bind="getALString('Error\nMessage')"   />
                                </td>
                                <td colspan="1"  >
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" style="width:16%" >
                                    <input name='GrpExcelError_srchr__fsch_row' data-ng-model='modelGrpExcelError.fsch_row' data-np-ui-model='modelGrpExcelError._fsch_row' data-np-number='dummy' data-np-decimals='0' data-np-decSep=',' data-np-thSep='.' class='ngCellNumber' />
                                </td>
                                <td colspan="1" style="width:64%" >
                                    <input name='GrpExcelError_srchr__fsch_errMessage' data-ng-model='modelGrpExcelError.fsch_errMessage' data-np-ui-model='modelGrpExcelError._fsch_errMessage'  data-np-text='dummy' />
                                </td>
                                <td colspan="1"  >
                                </td>
                            </tr>
                        </table>
                        <div class="GridSearchAreaFooter">
                            <button data-np-click="updateGrid()"><i class="icon search"></i>{{getALString("Search")}}</button>
                            <button data-np-click="clearBtnAction()"><i class="icon clear"></i>{{getALString("Clear")}}</button>
                        </div>
                    </div>
                    <div data-on-key-down="gridPageDown()" data-keys="[34]">
                        <div id="GrpExcelError_tableId" data-ng-grid="modelGrpExcelError.grid" class="gridStyle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="saveCancel">
                <button  id="cancelBtn_id"   data-np-click  ="onCancelBtnAction()" data-ng-class="" >
                    <i class="icon back"></i>
                    {{getLabelById('cancelBtn_id')}}
                </button>

            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
