<div data-ng-controller="controllerExportMap">
    <div class="well" style="">
        <label for="mapoutputformattype" ><b>File Type</b></label>
         <select id="mapoutputformattype">
            <option value="image/png">png</option>
            <option value="image/jpeg">jpeg</option>
            <option value="application/pdf">pdf</option>
            <option value="image/geotiff">geotiff</option>
            <option value="kml">kml</option>
        </select> 
        
        <!--<label for="oldpass"><b>Παλιός κωδικός</b></label>
        <input id="oldPasswordForLogin" required data-ng-model="modelChangePass.oldPassword" name="oldpass" type="password" placeholder="Old password">
        <label for="newpass1"><b>Νέος κωδικός</b></label>
        <input id="newPasswordForLogin1" required data-ng-model="modelChangePass.newPassword1" name="newpass1" type="password" placeholder="New password">
        <label for="newpass2"><b>Νέος κωδικός (επανάληψη)</b></label>
        <input id="newPasswordForLogin2" required data-ng-model="modelChangePass.newPassword2" name="newpass2" type="password" placeholder="Repeat new password">   -->
        <div style="margin-top:1em">
                <center>
                    <button data-ng-click="exportFunc()" >Export</button>
                    <button data-ng-click="nevermind()">Cancel</button>
                </center>
        </div>
       <!-- <button data-ng-click="export()" >Εξαγωγή</button>
            <button style="margin-bottom:1em; width:16em; float:left !important" type="button" 
                data-ng-click="setNewPassword()" class="btn btn-large btn-primary">Εξαγωγή</button>
            <button style="margin-bottom:1em; width:16em; float:right !important" type="button" 
                data-ng-click="closeChangePass()" class="btn btn-large btn-primary">Επιστροφή</button>
            <span style="clear:both">&nbsp;</span>   
        </div>  -->
       <!-- <div class="alert" data-ng-show='modelChangePass.message!=""'>
            &nbsp;<br>
            <div data-ng-bind-html-unsafe="modelChangePass.message"></div>
        </div>  -->
    </div>
</div>