<!-- @@Built src revision Unversioned directory, with NeuroCode 94258 Stateless AngularJS on Wed Jul  7 15:02:00 EEST 2021 -->

<div class="container-fluid">
    <div class="row-fluid">
    </div>
    <div class="row-fluid">
        <div style="margin: 8em 4em 2em 4em;font-weight: bold;color: black;font-size: 25px;line-height: 30px; text-align: center;">
            <div ng-bind-html-unsafe="getALString('NIVA Decision Support System', true)"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="login-div" data-ng-controller="controllerLogin">
            <form name="login-form" autocomplete="on" data-ng-submit="checkCredentials()" class="form-signin">
                <div id="not-logged-in" data-ng-show="!isLoggedIn()">
                    <h1 class="form-signin-heading" style="font-size: 25px;line-height: 30px;">{{getALString("Have an account?")}}</h1>
                    <label for="email" ><b>{{getALString("Username")}}</b></label>
                    <input id="emailForLogin" autocomplete="on" required name="email" type="text" placeholder={{getALString("e-mail")}}>
                    <label for="pass"><b>{{getALString("Password")}}</b></label>
                    <input id="passwordForLogin" autocomplete="on" required name="pass" type="password" placeholder={{getALString("Password")}}>

                    <button style="margin-bottom:1em; width:100%; height: 34px;font-size: 16px !important;"
                        type="submit">{{getALString("Login")}}</button>
                    <a href="" data-ng-click="changePassword();" style="color:#53A0D0">{{getALString("Change Password")}}</a>
                    <div class="alert" data-ng-show='modelLogin.message!=""'>
                        <strong>{{getALString("Login Error")}}: </strong><em>{{modelLogin.message}}</em>
                    </div>
                </div>
                <div id="logged-in" data-ng-show="isLoggedIn()">
                    <span>{{getALString("Logged-in User")}}:&nbsp;</span>
                    <span>{{globals.getLoggedInUserDescription()}}</span>
                    <br>
                    <a data-ng-click="navigateToRoute('/welcome', true)" style="color:#53A0D0">{{getALString("Application Menu")}}</a>
                    <br>
                    <a data-ng-click="logout()" style="color:#53A0D0">{{getALString("Logout")}}</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div id='version' class="navbar-fixed-bottom login-footer" style="padding-right:0.5em; left:initial; float:right"><em><small>{{getALString("VersionLabel")}}: 2021-07-07 15:02:00</small></em></div>
