<div data-ng-controller="controllerMsgBox" >
    <div data-on-key-down="triggerCancel()" data-keys="[27]">
        <div style="margin-top:1em; margin-bottom:1em; max-height: 30em; overflow-y:auto">
            <table>
                <tr>
                    <td data-ng-show="model.opt.iconKind === 0" style="width:80px; height:80px"><img alt="icon" src="img/info.png" /></td>
                    <td data-ng-show="model.opt.iconKind === 1" style="width:80px; height:80px"><img alt="icon" src="img/warn.png" /></td>
                    <td data-ng-show="model.opt.iconKind === 2" style="width:80px; height:80px"><img alt="icon" src="img/error.png" /></td>
                    <td data-ng-show="model.opt.iconKind === 3" style="width:80px; height:80px"><img alt="icon" src="img/question.png" /></td>
                    <td><div data-ng-bind-html-unsafe="model.opt.message"></div></td>
                </tr>
            </table>
        </div>
        <table data-ng-style="model.allButtonWidth">
            <tr>
                <td data-ng-style="model.buttonWidth" data-ng-repeat="btn in model.opt.buttons">
                    <button
                        data-np-focus-me="btn == model.opt.buttons[model.opt.indexSelected]"
                        style="width:100%"
                        data-ng-click="buttonPressed(btn)">{{getALString(btn.a)}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>
