<div id="Subscriber_Id" class="LovDialog NrlDialog" data-ng-controller="ControllerLovRTL_Subscriber">
    <div class="NpTable">
        <div class="GridSearchArea" data-ng-show="model.showSearchParams">
            <h4>Κριτήρια αναζήτησης</h4>
            <table>
                <tr>
                    <td colspan="2" style="width:33%" >
                        <label class="pull-left" for="LovSubscriber_srch_subs_short_name"  data-ng-bind="'Κωδικός'"   />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovSubscriber_srch_subs_vat"  data-ng-bind="'Α.Φ.Μ. \nΕταιρείας'"   />
                    </td>
                    <td colspan="2" style="width:33%" >
                        <label class="pull-left" for="LovSubscriber_srch_subs_legal_name"  data-ng-bind="'Επωνυμία'"   />
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width:33%" >
                        <input name='LovSubscriber_srch_subs_short_name' data-ng-model='modelLovRTL_Subscriber.srch_subs_short_name' data-np-ui-model='modelLovRTL_Subscriber._srch_subs_short_name' data-ng-readonly='LovSubscriber_srch_subs_short_name_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='LovSubscriber_srch_subs_vat' data-ng-model='modelLovRTL_Subscriber.srch_subs_vat' data-np-ui-model='modelLovRTL_Subscriber._srch_subs_vat' data-ng-readonly='LovSubscriber_srch_subs_vat_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="2" style="width:33%" >
                        <input name='LovSubscriber_srch_subs_legal_name' data-ng-model='modelLovRTL_Subscriber.srch_subs_legal_name' data-np-ui-model='modelLovRTL_Subscriber._srch_subs_legal_name' data-ng-readonly='LovSubscriber_srch_subs_legal_name_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
            </table>
            <div class="GridSearchAreaFooter">
                <button data-np-click="updateGrid()"><i class="icon search" />Αναζήτηση</button>
                <button data-np-click="clearBtnAction()"><i class="icon clear" />Καθαρισμός</button>
                <button data-np-click="selectActiveSetEntities()" data-ng-show="isMultiSelect()">(+)</button>
                <button data-np-click="unUselectActiveSetEntities()" data-ng-show="isMultiSelect()">(-)</button>

            </div>
        </div>
        <div data-on-key-down="closeDialog()" data-keys="[123,13]"><!-- The dialog must close with F12 and ENTER -->
            <div data-on-key-down="gridPageUp()" data-keys="[33]">
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div
                         tabIndex="0" 
                            id="lovGridId" 
                            data-ng-grid="modelLovRTL_Subscriber.grid" 
                            class="gridStyle">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LovButtonsArea">
        <button data-np-click="closeDialog()"><i class="icon select"/>Επιλογή (F12)</button>
        <button data-np-click="modelLovRTL_Subscriber.selectedEntities = [null] ; closeDialog()"><i class="icon clear"/>Καθαρισμός</button>
        <button data-ng-show="modelLovRTL_Subscriber.dialogOptions.hasNewButton" data-np-click="openNewEntityDialog()"><i class="icon new"/>Νέα Εγγραφή</button>
    </div>
</div>
