<div data-ng-controller="controllerWait">
    <div style="margin-top:0.8em">
        <center>
            {{getALString("WaitDialog_Message")}}<br>
			<br>
            <img alt='wait' src="img/wait.gif">
        </center>
    </div>
</div>
