<div class="resizable2" id="NpMainContent">
    <div id="Classification" style="display:none" class="well NrlForm EditPage" data-ng-controller="Classification.PageController" data-on-key-down="navigateBackward()" data-keys="[27]">
        <div data-alert="" data-ng-repeat="alert in pageModel.alerts" data-type="alert.type" data-close="closeAlert($index)">
            <div data-ng-bind-html-unsafe="alert.msg"></div>
        </div>
        <div class="TopFormArea">
            <h2>{{getALString(getPageTitle())}}</h2>
            <div class="saveCancel">
                <button  id="newPageBtn_id"   data-np-click  ="onNewBtnAction()" data-ng-class="" 
                data-ng-disabled="newIsDisabled()"  >
                    <i class="icon new"/>
                    {{getALString(getLabelById('newPageBtn_id'))}}
                </button>

                <button  id="deleteBtn_id"   data-np-click  ="onDeleteBtnAction()" data-ng-class="" 
                data-ng-disabled="deleteIsDisabled()"  >
                    <i class="icon delete"/>
                    {{getALString(getLabelById('deleteBtn_id'))}}
                </button>

                <button  id="saveBtn_id"   data-np-click  ="onSaveBtnAction()" data-ng-class="" 
                data-ng-disabled="saveIsDisabled()"  >
                    <i class="icon save"/>
                    {{getALString(getLabelById('saveBtn_id'))}}
                </button>

                <button  id="cancelBtn_id"   data-np-click  ="onCancelBtnAction()" data-ng-class="" 
                data-ng-disabled="cancelIsDisabled()"  >
                    <i class="icon back"/>
                    {{getALString(getLabelById('cancelBtn_id'))}}
                </button>

            </div>
        </div>
        <div style="clear:both"></div>
        <div id="Classification_ControllerGrpClas" data-ng-controller="Classification.ControllerGrpClas" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
            <div class="FormArea"  >
                <table>
                    <tr>
                        <td colspan="2" style="width:16%" >
                            <label class="pull-left" for="GrpClas_itm__name"  data-ng-bind="getALString('Name')"  data-ng-class="!GrpClas_itm__name_disabled(modelGrpClas.selectedEntities[0])&&true&&'requiredAsterisk'" />
                        </td>
                        <td colspan="2" style="width:16%" >
                            <label class="pull-left" for="GrpClas_itm__dateTime"  data-ng-bind="getALString('Classification Date')"  data-ng-class="!true&&true&&'requiredAsterisk'" />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:16%" >
                            <input name='GrpClas_itm__name' data-ng-model='modelGrpClas.selectedEntities[0].name' data-np-ui-model='modelGrpClas.selectedEntities[0]._name' data-ng-change='markEntityAsUpdated(modelGrpClas.selectedEntities[0],&quot;name&quot;)' data-np-required='true' data-ng-readonly='GrpClas_itm__name_disabled(modelGrpClas.selectedEntities[0])' data-np-text='dummy' />
                        </td>
                        <td colspan="2" style="width:16%" >
                            <input name='GrpClas_itm__dateTime' data-ng-model='modelGrpClas.selectedEntities[0].dateTime' data-np-ui-model='modelGrpClas.selectedEntities[0]._dateTime' data-ng-change='markEntityAsUpdated(modelGrpClas.selectedEntities[0],&quot;dateTime&quot;)' data-np-required='true' data-ng-readonly='true' data-np-date='dummy' data-np-format='dd-MM-yyyy hh:mm' />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:16%" >
                            <label class="pull-left" for="GrpClas_itm__clfrId"  data-ng-bind="getALString('Classification Engine')"  data-ng-class="!GrpClas_itm__clfrId_disabled(modelGrpClas.selectedEntities[0])&&true&&'requiredAsterisk'" />
                        </td>
                        <td colspan="2" style="width:16%" >
                            <label class="pull-left" for="GrpClas_itm__year"  data-ng-bind="getALString('Year of Declaration')"  data-ng-class="!GrpClas_itm__year_disabled(modelGrpClas.selectedEntities[0])&&true&&'requiredAsterisk'" />
                        </td>
                        <td colspan="2" style="width:16%" >
                            <label class="pull-left" for="GrpClas_itm__fiteId"  data-ng-bind="getALString('Data File Columns Template')"  data-ng-class="!GrpClas_itm__fiteId_disabled(modelGrpClas.selectedEntities[0])&&true&&'requiredAsterisk'" />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:16%" >
                            <div data-on-key-down='!GrpClas_itm__clfrId_disabled(modelGrpClas.selectedEntities[0]) && showLov_GrpClas_itm__clfrId(modelGrpClas.selectedEntities[0])' data-keys='[123]' >
                            <input title="{{'Select from List of Values Classification Engine'}}" data-np-source='modelGrpClas.selectedEntities[0].clfrId.name' data-np-ui-model='modelGrpClas.selectedEntities[0]._clfrId'  data-np-context='modelGrpClas.selectedEntities[0]'  data-np-lookup="" class='npLovInput' name='GrpClas_itm__clfrId' readonly='true'  > 
                            <button class='npLovButton' type='button' data-np-click='showLov_GrpClas_itm__clfrId(modelGrpClas.selectedEntities[0])'   data-ng-disabled="GrpClas_itm__clfrId_disabled(modelGrpClas.selectedEntities[0])"   /> 
                            </div>
                        </td>
                        <td colspan="2" style="width:16%" >
                            <select name='GrpClas_itm__year' data-ng-model='modelGrpClas.selectedEntities[0].year' data-np-ui-model='modelGrpClas.selectedEntities[0]._year' data-ng-change='markEntityAsUpdated(modelGrpClas.selectedEntities[0],&quot;year&quot;)' data-np-required='true' data-np-select='dummy' data-ng-options='x.value as x.label for x in [{label:getALString("DropDownList_ChooseOne"), value:null}, {label:getALString("2018"), value:2018}, {label:getALString("2019"), value:2019}, {label:getALString("2020"), value:2020}, {label:getALString("2021"), value:2021}, {label:getALString("2022"), value:2022}, {label:getALString("2023"), value:2023}, {label:getALString("2024"), value:2024}, {label:getALString("2025"), value:2025}, {label:getALString("2026"), value:2026}, {label:getALString("2027"), value:2027}, {label:getALString("2028"), value:2028}, {label:getALString("2029"), value:2029}]' data-ng-disabled='GrpClas_itm__year_disabled(modelGrpClas.selectedEntities[0])' />
                        </td>
                        <td colspan="2" style="width:16%" >
                            <div data-on-key-down='!GrpClas_itm__fiteId_disabled(modelGrpClas.selectedEntities[0]) && showLov_GrpClas_itm__fiteId(modelGrpClas.selectedEntities[0])' data-keys='[123]' >
                            <input data-np-source='modelGrpClas.selectedEntities[0].fiteId.name' data-np-ui-model='modelGrpClas.selectedEntities[0]._fiteId'  data-np-context='modelGrpClas.selectedEntities[0]'  data-np-lookup="" class='npLovInput' name='GrpClas_itm__fiteId' readonly='true'  > 
                            <button class='npLovButton' type='button' data-np-click='showLov_GrpClas_itm__fiteId(modelGrpClas.selectedEntities[0])'   data-ng-disabled="GrpClas_itm__fiteId_disabled(modelGrpClas.selectedEntities[0])"   /> 
                            </div>
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="width:50%" >
                            <label class="pull-left" for="GrpClas_itm__description"  data-ng-bind="getALString('Description')"   />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" style="width:50%" >
                            <input name='GrpClas_itm__description' data-ng-model='modelGrpClas.selectedEntities[0].description' data-np-ui-model='modelGrpClas.selectedEntities[0]._description' data-ng-change='markEntityAsUpdated(modelGrpClas.selectedEntities[0],&quot;description&quot;)' data-ng-readonly='GrpClas_itm__description_disabled(modelGrpClas.selectedEntities[0])' data-np-text='dummy' />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:25%" >
                            <label class="pull-left" for="GrpClas_itm__attachedFile"  data-ng-bind="getALString('File Name')"   />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:25%" >
                            <span data-ng-model='modelGrpClas.selectedEntities[0]._attachedFile' data-np-factory='createBlobModel_GrpClas_itm__attachedFile()' data-np-blob='dummy' />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:25%" >
                            <label class="pull-left" for="GrpClas_itm__filePath"  data-ng-bind="getALString(' ')" data-ng-show="false"  />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:25%" >
                            <input name='GrpClas_itm__filePath' data-ng-model='modelGrpClas.selectedEntities[0].filePath' data-np-ui-model='modelGrpClas.selectedEntities[0]._filePath' data-ng-change='markEntityAsUpdated(modelGrpClas.selectedEntities[0],&quot;filePath&quot;)' data-ng-show='false' data-ng-readonly='GrpClas_itm__filePath_disabled(modelGrpClas.selectedEntities[0])' data-np-text='dummy' />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:16%" >
                            <button  id="importButtonId"   data-np-click  ="importAction(modelGrpClas.selectedEntities[0])" data-ng-class="" 
                            data-ng-disabled="importButtonId_disabled(modelGrpClas.selectedEntities[0])"  >
                                {{getALString('Import File')}}
                            </button>

                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                </table>
            </div>
            <div style='margin:1em 0'></div>
            <div id="Classification_ControllerGrpParcelClas" data-ng-controller="Classification.ControllerGrpParcelClas" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                    <div class="TopGridArea">
                        <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                        <button data-ng-click="model.showSearchParams=!model.showSearchParams" data-ng-class="'FiltersOn'" ><i class="icon filter" />{{getALString("Show Filters")}}</button>
                        <h3>{{getALString(gridTitle())}}</h3>
                    </div>
                    <div class="GridSearchArea" data-ng-show="model.showSearchParams">
                        <table>
                            <tr>
                                <td colspan="1" style="width:16%" >
                                    <label class="pull-left" for="GrpParcelClas_srchr__fsch_parcIdentifier"  data-ng-bind="getALString('Identifier')"   />
                                </td>
                                <td colspan="2" style="width:33%" >
                                    <label class="pull-left" for="GrpParcelClas_srchr__fsch_parcCode"  data-ng-bind="getALString('Parcel\'s Code')"   />
                                </td>
                                <td colspan="1" style="width:16%" >
                                    <label class="pull-left" for="GrpParcelClas_srchr__fsch_prodCode"  data-ng-bind="getALString('Farmer\'s Code')"   />
                                </td>
                                <td colspan="1" style="width:16%" >
                                    <label class="pull-left" for="GrpParcelClas_srchr__fsch_cultIdDecl"  data-ng-bind="getALString('cultIdDecl')"   />
                                </td>
                                <td colspan="1" style="width:16%" >
                                    <label class="pull-left" for="GrpParcelClas_srchr__fsch_cotyIdDecl"  data-ng-bind="getALString('cotyIdDecl')"   />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="1" style="width:16%" >
                                    <input name='GrpParcelClas_srchr__fsch_parcIdentifier' data-ng-model='modelGrpParcelClas.fsch_parcIdentifier' data-np-ui-model='modelGrpParcelClas._fsch_parcIdentifier' data-ng-readonly='GrpParcelClas_srchr__fsch_parcIdentifier_disabled()' data-np-text='dummy' />
                                </td>
                                <td colspan="2" style="width:33%" >
                                    <input name='GrpParcelClas_srchr__fsch_parcCode' data-ng-model='modelGrpParcelClas.fsch_parcCode' data-np-ui-model='modelGrpParcelClas._fsch_parcCode' data-ng-readonly='GrpParcelClas_srchr__fsch_parcCode_disabled()' data-np-text='dummy' />
                                </td>
                                <td colspan="1" style="width:16%" >
                                    <input name='GrpParcelClas_srchr__fsch_prodCode' data-ng-model='modelGrpParcelClas.fsch_prodCode' data-np-ui-model='modelGrpParcelClas._fsch_prodCode' data-ng-readonly='GrpParcelClas_srchr__fsch_prodCode_disabled()' data-np-number='dummy' data-np-decimals='0' data-np-decSep=',' data-np-thSep='' class='ngCellNumber' />
                                </td>
                                <td colspan="1" style="width:16%" >
                                    <div data-on-key-down='!GrpParcelClas_srchr__fsch_cultIdDecl_disabled() && showLov_GrpParcelClas_srchr__fsch_cultIdDecl()' data-keys='[123]' >
                                    <input data-np-source='modelGrpParcelClas.fsch_cultIdDecl.name' data-np-ui-model='modelGrpParcelClas._fsch_cultIdDecl'  data-np-context=''  data-np-lookup="" class='npLovInput' name='GrpParcelClas_srchr__fsch_cultIdDecl' readonly='true'  > 
                                    <button class='npLovButton' type='button' data-np-click='showLov_GrpParcelClas_srchr__fsch_cultIdDecl()'   data-ng-disabled="GrpParcelClas_srchr__fsch_cultIdDecl_disabled()"   /> 
                                    </div>
                                </td>
                                <td colspan="1" style="width:16%" >
                                    <div data-on-key-down='!GrpParcelClas_srchr__fsch_cotyIdDecl_disabled() && showLov_GrpParcelClas_srchr__fsch_cotyIdDecl()' data-keys='[123]' >
                                    <input data-np-source='modelGrpParcelClas.fsch_cotyIdDecl.name' data-np-ui-model='modelGrpParcelClas._fsch_cotyIdDecl'  data-np-context=''  data-np-lookup="" class='npLovInput' name='GrpParcelClas_srchr__fsch_cotyIdDecl' readonly='true'  > 
                                    <button class='npLovButton' type='button' data-np-click='showLov_GrpParcelClas_srchr__fsch_cotyIdDecl()'   data-ng-disabled="GrpParcelClas_srchr__fsch_cotyIdDecl_disabled()"   /> 
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="GridSearchAreaFooter">
                            <button data-np-click="updateGrid()"><i class="icon search" />{{getALString("Search")}}</button>
                            <button data-np-click="clearBtnAction()"><i class="icon clear" />{{getALString("Clear")}}</button>
                        </div>
                    </div>
                    <div data-on-key-down="gridPageDown()" data-keys="[34]">
                        <div id="GrpParcelClas_tableId" data-ng-grid="modelGrpParcelClas.grid" class="gridStyle">
                        </div>
                    </div>
                </div>
                <div style='margin:1em 0'></div>
                <div class="FormArea" data-ng-show="!XartoReg_invisible()" >
                    <table>
                        <tr>
                            <td colspan="2" style="width:100%" >
                                <label class="pull-left" for="INPMP"  data-ng-bind="getALString('')"   />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width:100%" >
                                <div tabindex="-1" id="INPMP" style="border: 1px solid #53A0D0; height: 400px"></div>
                                <div style='margin:1em 0'></div>
                                <div style="display: none">
                                    <div id="INPMP_popup"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
