<div class="resizable2" id="NpMainContent">
    <div id="Search_Classification" style="display:none" class="well NrlForm SearchPage" data-ng-controller="ControllerClassificationSearch"  data-on-key-down="navigateBackward()" data-keys="[27]">
        <div data-alert="" data-ng-repeat="alert in pageModel.alerts" data-type="alert.type" data-close="closeAlert($index)">
            <div data-ng-bind-html-unsafe="alert.msg"></div>
        </div>
        <div class="TopFormArea">
            <h2>{{getALString(pageModel.pageTitle)}}</h2>
        </div>
        <div class="alert" data-ng-class="alert-pageModel.message.severity" data-ng-show="alert-pageModel.message.visible">
        <b>{{pageModel.message.header}}</b>
        {{pageModel.message.body}}
        </div>
        <div class="FormArea"  >
            <table>
                <tr>
                    <td colspan="3" style="width:25%" >
                        <label class="pull-left" for="d__name"  data-ng-bind="getALString('Name')"   />
                    </td>
                    <td colspan="2" style="width:16%" >
                        <label class="pull-left" for="d__year"  data-ng-bind="getALString('Year of Declaration')"   />
                    </td>
                    <td colspan="2" style="width:16%" >
                        <label class="pull-left" for="d__dateTime"  data-ng-bind="getALString('Classification Date')"   />
                    </td>
                    <td colspan="2" style="width:16%" >
                        <label class="pull-left" for="d__clfrId"  data-ng-bind="getALString('Classification Engine')"   />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width:25%" >
                        <input name='d__name' data-ng-model='pageModel.name' data-np-ui-model='pageModel._name' data-ng-readonly='d__name_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="2" style="width:16%" >
                        <select name='d__year' data-ng-model='pageModel.year' data-np-ui-model='pageModel._year' data-np-select='dummy' data-ng-options='x.value as x.label for x in [{label:getALString("DropDownList_ChooseOne"), value:null}, {label:getALString("2018"), value:2018}, {label:getALString("2019"), value:2019}, {label:getALString("2020"), value:2020}, {label:getALString("2021"), value:2021}, {label:getALString("2022"), value:2022}, {label:getALString("2023"), value:2023}, {label:getALString("2024"), value:2024}, {label:getALString("2025"), value:2025}, {label:getALString("2026"), value:2026}, {label:getALString("2027"), value:2027}, {label:getALString("2028"), value:2028}, {label:getALString("2029"), value:2029}]' data-ng-disabled='d__year_disabled()' />
                    </td>
                    <td colspan="2" style="width:16%" >
                        <input name='d__dateTime' data-ng-model='pageModel.dateTime' data-np-ui-model='pageModel._dateTime' data-ng-readonly='d__dateTime_disabled()' data-np-date='dummy' data-np-format='dd-MM-yyyy' />
                    </td>
                    <td colspan="2" style="width:16%" >
                        <div data-on-key-down='!d__clfrId_disabled() && showLov_d__clfrId()' data-keys='[123]' >
                        <input data-np-source='pageModel.clfrId.name' data-np-ui-model='pageModel._clfrId'  data-np-context=''  data-np-lookup="" class='npLovInput' name='d__clfrId' readonly='true'  > 
                        <button class='npLovButton' type='button' data-np-click='showLov_d__clfrId()'   data-ng-disabled="d__clfrId_disabled()"   /> 
                        </div>
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
            </table>
        </div>
        <div class="searchPageButtons">
            <button  id="searchBtn_id"   data-np-click  ="searchBtnAction()" data-ng-class="" 
            data-ng-disabled="searchIsDisabled()"  >
                <i class="icon search"/>
                {{getALString(getLabelById('searchBtn_id'))}}
            </button>

            <button  id="clearBtn_id"   data-np-click  ="clearBtnAction()" data-ng-class="" 
              >
                <i class="icon clear"/>
                {{getALString(getLabelById('clearBtn_id'))}}
            </button>

            <button  id="newBtn_id"   data-np-click  ="newBtnAction()" data-ng-class="" 
            data-ng-disabled="newIsDisabled()"  >
                <i class="icon new"/>
                {{getALString(getLabelById('newBtn_id'))}}
            </button>

            <button  id="cancelBtn_id"   data-np-click  ="onCancelBtnAction()" data-ng-class="" 
            data-ng-disabled="cancelIsDisabled()"  >
                <i class="icon back"/>
                {{getALString(getLabelById('cancelBtn_id'))}}
            </button>

        </div>
        <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
            <div data-on-key-down="gridPageDown()" data-keys="[34]">
                <div id="search_page_results_id" data-ng-grid="pageModel.grid" class="gridStyle">
                </div>
            </div>
        </div>
    </div>
</div>
