<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:param name="depth" value="#{empty depth?1:depth + 1}"/>
    <p:dialog  widgetVar="#{dlgName}" resizable="true" closable="true" dynamic="true" draggable="true" >
        <f:facet name="header">
            <ui:insert name="title"/>
        </f:facet>
        <ui:insert name="body">
        </ui:insert>
    </p:dialog>
</html>