<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <ui:param name="depth" value="#{empty depth?1:depth + 1}"/>
	<p:dialog id="#{lovName}#{depth==1?'':depth-1}dlg_id" header="#{headerName}" resizable="true" widgetVar="#{lovName}#{depth==1?'':depth-1}dlg" closable="true" dynamic="true" appendToBody="true" modal="true">
	  <h:form id="#{lovName}#{depth==1?'':depth-1}f_id">
		<ui:insert name="lovTable"/>
		<p:commandButton id="selectBtn" value="Επιλογή" oncomplete="#{lovName}#{depth==1?'':depth-1}dlg.hide()" action="#{beanName.returnFromLOV}" update="#{targetId}" process="@this"/>
		<p:commandButton id="clearBtn" value="Καθαρισμός" oncomplete="#{lovName}#{depth==1?'':depth-1}dlg.hide()" action="#{beanName.returnFromLOVClear}" update="#{targetId}" process="@this"/>
		<ui:insert name="insertButton"/>
		<ui:remove>
		<p:commandButton id="newBtn" value="Εισαγωγή" onstart="window.open(location.protocol+'//'+location.host+'/#{appName}/#{insertForm}');"/>
		<p:commandButton value="Εισαγωγή #{headerName}" oncomplete="#{lovName}DlgFrm.show(); return false;" process="@this" rendered="#{depth lt 2 and not empty insertForm}"/>
		</ui:remove>
		<ui:debug/>
	  </h:form> 
	</p:dialog>
    <!--(jstl if tag) is used to conditionally avoid building the component tree inside ui:include-->

</html>