<div class="resizable2" id="NpMainContent">
    <div id="DecisionMaking" style="display:none" class="well NrlForm EditPage" data-ng-controller="DecisionMaking.PageController" data-on-key-down="navigateBackward()" data-keys="[27]">
        <div data-alert="" data-ng-repeat="alert in pageModel.alerts" data-type="alert.type" data-close="closeAlert($index)">
            <div data-ng-bind-html-unsafe="alert.msg"></div>
        </div>
        <div class="TopFormArea">
            <h2>{{getALString(getPageTitle())}}</h2>
            <div class="saveCancel">
                <button  id="newPageBtn_id"   data-np-click  ="onNewBtnAction()" data-ng-class="" 
                data-ng-disabled="newIsDisabled()"  >
                    <i class="icon new"/>
                    {{getALString(getLabelById('newPageBtn_id'))}}
                </button>

                <button  id="deleteBtn_id"   data-np-click  ="onDeleteBtnAction()" data-ng-class="" 
                data-ng-disabled="deleteIsDisabled()"  >
                    <i class="icon delete"/>
                    {{getALString(getLabelById('deleteBtn_id'))}}
                </button>

                <button  id="saveBtn_id"   data-np-click  ="onSaveBtnAction()" data-ng-class="" 
                data-ng-disabled="saveIsDisabled()"  >
                    <i class="icon save"/>
                    {{getALString(getLabelById('saveBtn_id'))}}
                </button>

                <button  id="cancelBtn_id"   data-np-click  ="onCancelBtnAction()" data-ng-class="" 
                data-ng-disabled="cancelIsDisabled()"  >
                    <i class="icon back"/>
                    {{getALString(getLabelById('cancelBtn_id'))}}
                </button>

            </div>
        </div>
        <div style="clear:both"></div>
        <div id="DecisionMaking_ControllerGrpDema" data-ng-controller="DecisionMaking.ControllerGrpDema" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
            <div class="FormArea"  >
                <table>
                    <tr>
                        <td colspan="2" style="width:16%" >
                            <label class="pull-left" for="GrpDema_itm__clasId"  data-ng-bind="getALString('Data Import Name')"  data-ng-class="!GrpDema_itm__clasId_disabled(modelGrpDema.selectedEntities[0])&&true&&'requiredAsterisk'" />
                        </td>
                        <td colspan="2" style="width:16%" >
                            <label class="pull-left" for="GrpDema_itm__ecgrId"  data-ng-bind="getALString('BRE Rules Name')"  data-ng-class="!GrpDema_itm__ecgrId_disabled(modelGrpDema.selectedEntities[0])&&true&&'requiredAsterisk'" />
                        </td>
                        <td colspan="2" style="width:16%" >
                            <label class="pull-left" for="GrpDema_itm__description"  data-ng-bind="getALString('Description')"   />
                        </td>
                        <td colspan="1" style="width:8%" >
                            <label class="pull-left" for="GrpDema_itm__dateTime"  data-ng-bind="getALString('Date')"  data-ng-class="!true&&true&&'requiredAsterisk'" />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width:16%" >
                            <div data-on-key-down='!GrpDema_itm__clasId_disabled(modelGrpDema.selectedEntities[0]) && showLov_GrpDema_itm__clasId(modelGrpDema.selectedEntities[0])' data-keys='[123]' >
                            <input data-np-source='modelGrpDema.selectedEntities[0].clasId.name' data-np-ui-model='modelGrpDema.selectedEntities[0]._clasId'  data-np-context='modelGrpDema.selectedEntities[0]'  data-np-lookup="" class='npLovInput' name='GrpDema_itm__clasId' readonly='true'  > 
                            <button class='npLovButton' type='button' data-np-click='showLov_GrpDema_itm__clasId(modelGrpDema.selectedEntities[0])'   data-ng-disabled="GrpDema_itm__clasId_disabled(modelGrpDema.selectedEntities[0])"   /> 
                            </div>
                        </td>
                        <td colspan="2" style="width:16%" >
                            <div data-on-key-down='!GrpDema_itm__ecgrId_disabled(modelGrpDema.selectedEntities[0]) && showLov_GrpDema_itm__ecgrId(modelGrpDema.selectedEntities[0])' data-keys='[123]' >
                            <input data-np-source='modelGrpDema.selectedEntities[0].ecgrId.name' data-np-ui-model='modelGrpDema.selectedEntities[0]._ecgrId'  data-np-context='modelGrpDema.selectedEntities[0]'  data-np-lookup="" class='npLovInput' name='GrpDema_itm__ecgrId' readonly='true'  > 
                            <button class='npLovButton' type='button' data-np-click='showLov_GrpDema_itm__ecgrId(modelGrpDema.selectedEntities[0])'   data-ng-disabled="GrpDema_itm__ecgrId_disabled(modelGrpDema.selectedEntities[0])"   /> 
                            </div>
                        </td>
                        <td colspan="2" style="width:16%" >
                            <input name='GrpDema_itm__description' data-ng-model='modelGrpDema.selectedEntities[0].description' data-np-ui-model='modelGrpDema.selectedEntities[0]._description' data-ng-change='markEntityAsUpdated(modelGrpDema.selectedEntities[0],&quot;description&quot;)' data-ng-readonly='GrpDema_itm__description_disabled(modelGrpDema.selectedEntities[0])' data-np-text='dummy' />
                        </td>
                        <td colspan="1" style="width:8%" >
                            <input name='GrpDema_itm__dateTime' data-ng-model='modelGrpDema.selectedEntities[0].dateTime' data-np-ui-model='modelGrpDema.selectedEntities[0]._dateTime' data-ng-change='markEntityAsUpdated(modelGrpDema.selectedEntities[0],&quot;dateTime&quot;)' data-np-required='true' data-ng-readonly='true' data-np-date='dummy' data-np-format='dd-MM-yyyy' />
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:25%" >
                            <button  id="finalizeButtonId"   data-np-click  ="finalizationAction(modelGrpDema.selectedEntities[0])" data-ng-class="" 
                            data-ng-disabled="finalizeButtonId_disabled(modelGrpDema.selectedEntities[0])"  >
                                {{getALString('Run BRE Decision Making')}}
                            </button>

                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                        <td colspan="1"  >
                        </td>
                    </tr>
                </table>
            </div>
            <div style='margin:1em 0'></div>
            <div class="FormArea" data-ng-show="!GrpDema_0_0_invisible()" >
                <h3>{{getALString("Update Parcel Decisions n Issues")}}</h3>
                <table>
                    <tr>
                        <td colspan="1" style="width:100%" >
                            <button  id="GrpDema_0_0_0" title="{{getALString('Update the records of parcels that need extra evidential data')}}"   data-np-click  ="actionUpdateIntegratedDecisionsNIssuesFromDema(modelGrpDema.selectedEntities[0])" data-ng-class="" 
                            data-ng-disabled="GrpDema_0_0_0_disabled(modelGrpDema.selectedEntities[0])"  >
                                {{getALString('Update Parcel Decisions n Issues')}}
                            </button>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" style="width:100%" >
                            <div id="noteHasNotPopulated1">
                                If a Decision Making has not populated the Integrated Decisions and Issues, then its results can not be displayed on the Field Map.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" style="width:100%" >
                            <div id="noteHasNotPopulated2">
                                Additionally, Geotagged Photos and FMIS Documents requests are not created for it.
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style='margin:1em 0'></div>
            <div id="DecisionMaking_ControllerGrpParcelDecision" data-ng-controller="DecisionMaking.ControllerGrpParcelDecision" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                    <div class="TopGridArea">
                        <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                        <button data-ng-click="model.showSearchParams=!model.showSearchParams" data-ng-class="'FiltersOn'" ><i class="icon filter" />{{getALString("Show Filters")}}</button>
                        <h3>{{getALString(gridTitle())}}</h3>
                    </div>
                    <div class="GridSearchArea" data-ng-show="model.showSearchParams">
                        <table>
                            <tr>
                                <td colspan="3" style="width:25%" >
                                    <label class="pull-left" for="GrpParcelDecision_srchr__fsch_decisionLight"  data-ng-bind="getALString('Decision Light')"   />
                                </td>
                                <td colspan="2" style="width:16%" >
                                    <label class="pull-left" for="GrpParcelDecision_srchr__fsch_Parcel_Identifier"  data-ng-bind="getALString('Identifier')"   />
                                </td>
                                <td colspan="2" style="width:16%" >
                                    <label class="pull-left" for="GrpParcelDecision_srchr__fsch_Code"  data-ng-bind="getALString('Parcel Code')"   />
                                </td>
                                <td colspan="2" style="width:16%" >
                                    <label class="pull-left" for="GrpParcelDecision_srchr__fsch_prodCode"  data-ng-bind="getALString('Farmer Code')"   />
                                </td>
                                <td colspan="1"  >
                                </td>
                                <td colspan="1"  >
                                </td>
                                <td colspan="1"  >
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="width:25%" >
                                    <select name='GrpParcelDecision_srchr__fsch_decisionLight' data-ng-model='modelGrpParcelDecision.fsch_decisionLight' data-np-ui-model='modelGrpParcelDecision._fsch_decisionLight' data-np-select='dummy' data-ng-options='x.value as x.label for x in [{label:getALString("DropDownList_ChooseOne"), value:null}, {label:getALString("Green"), value:1}, {label:getALString("Yellow"), value:2}, {label:getALString("Red"), value:3}, {label:getALString("Undefined"), value:4}]' data-ng-disabled='GrpParcelDecision_srchr__fsch_decisionLight_disabled()' />
                                </td>
                                <td colspan="2" style="width:16%" >
                                    <input name='GrpParcelDecision_srchr__fsch_Parcel_Identifier' data-ng-model='modelGrpParcelDecision.fsch_Parcel_Identifier' data-np-ui-model='modelGrpParcelDecision._fsch_Parcel_Identifier' data-ng-readonly='GrpParcelDecision_srchr__fsch_Parcel_Identifier_disabled()' data-np-text='dummy' />
                                </td>
                                <td colspan="2" style="width:16%" >
                                    <input name='GrpParcelDecision_srchr__fsch_Code' data-ng-model='modelGrpParcelDecision.fsch_Code' data-np-ui-model='modelGrpParcelDecision._fsch_Code' data-ng-readonly='GrpParcelDecision_srchr__fsch_Code_disabled()' data-np-text='dummy' />
                                </td>
                                <td colspan="2" style="width:16%" >
                                    <input name='GrpParcelDecision_srchr__fsch_prodCode' data-ng-model='modelGrpParcelDecision.fsch_prodCode' data-np-ui-model='modelGrpParcelDecision._fsch_prodCode' data-ng-readonly='GrpParcelDecision_srchr__fsch_prodCode_disabled()' data-np-number='dummy' data-np-decimals='0' data-np-decSep=',' data-np-thSep='' class='ngCellNumber' />
                                </td>
                                <td colspan="1"  >
                                </td>
                                <td colspan="1"  >
                                </td>
                                <td colspan="1"  >
                                </td>
                            </tr>
                        </table>
                        <div class="GridSearchAreaFooter">
                            <button data-np-click="updateGrid()"><i class="icon search" />{{getALString("Search")}}</button>
                            <button data-np-click="clearBtnAction()"><i class="icon clear" />{{getALString("Clear")}}</button>
                        </div>
                    </div>
                    <div data-on-key-down="gridPageDown()" data-keys="[34]">
                        <div id="GrpParcelDecision_tableId" data-ng-grid="modelGrpParcelDecision.grid" class="gridStyle">
                        </div>
                    </div>
                </div>
                <div style='margin:1em 0'></div>
                <div class="FormArea" data-ng-show="!GrpParcelDecision_0_invisible()" >
                    <h3>{{getALString("Export to CSV file")}}</h3>
                    <table>
                        <tr>
                            <td colspan="1" style="width:25%" >
                                <button  id="GrpParcelDecision_0_0" title="{{getALString('Export all Parcel Decision Data to a CSV file')}}"   data-np-click  ="exportParcelDecisionsToCSV(modelGrpParcelDecision.selectedEntities[0])" data-ng-class="" 
                                data-ng-disabled="GrpParcelDecision_0_0_disabled(modelGrpParcelDecision.selectedEntities[0])"  >
                                    {{getALString('Export to CSV file')}}
                                </button>

                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div style='margin:1em 0'></div>
            <div id="DecisionMaking_ControllerGrpEcGroupCopy" data-ng-controller="DecisionMaking.ControllerGrpEcGroupCopy" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                    <div class="TopGridArea">
                        <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                        <h3>{{getALString(gridTitle())}}</h3>
                    </div>
                    <div data-on-key-down="gridPageDown()" data-keys="[34]">
                        <div id="GrpEcGroupCopy_tableId" data-ng-grid="modelGrpEcGroupCopy.grid" class="gridStyle">
                        </div>
                    </div>
                </div>
                <div style='margin:1em 0'></div>
                <div data-np-tabs data-ng-show="!(child_group_GrpEcCultCopy_isInvisible() && child_group_EcCultCopyCover_isInvisible() && child_group_EcCultCopySuper_isInvisible())" class="ui-tabs">
                    <ul class="ui-tabs-nav">
                        <li data-ng-show="!child_group_GrpEcCultCopy_isInvisible()" ><a href="#region_GrpEcGroupCopy_0">{{getALString("Eligibility Criteria")}}</a></li>
                        <li data-ng-show="!child_group_EcCultCopyCover_isInvisible()" ><a href="#region_GrpEcGroupCopy_1">{{getALString("Eligibility Criteria")}}</a></li>
                        <li data-ng-show="!child_group_EcCultCopySuper_isInvisible()" ><a href="#region_GrpEcGroupCopy_2">{{getALString("Eligibility Criteria")}}</a></li>
                    </ul>
                    <div id="region_GrpEcGroupCopy_0" data-ng-show="isTabActive('region_GrpEcGroupCopy_0') && !child_group_GrpEcCultCopy_isInvisible()"  >
                        <div id="DecisionMaking_ControllerGrpEcCultCopy" data-ng-controller="DecisionMaking.ControllerGrpEcCultCopy" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                            <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                                <div class="TopGridArea">
                                    <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                                    <h3>{{getALString(gridTitle())}}</h3>
                                </div>
                                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                                    <div id="GrpEcCultCopy_tableId" data-ng-grid="modelGrpEcCultCopy.grid" class="gridStyle">
                                    </div>
                                </div>
                            </div>
                            <div style='margin:1em 0'></div>
                            <div data-np-tabs data-ng-show="!(child_group_GrpEcCultDetailCopy_isInvisible())" class="ui-tabs">
                                <ul class="ui-tabs-nav">
                                    <li data-ng-show="!child_group_GrpEcCultDetailCopy_isInvisible()" ><a href="#region_GrpEcCultDetailCopy">{{getALString("Criteria")}}</a></li>
                                </ul>
                                <div id="region_GrpEcCultDetailCopy" data-ng-show="isTabActive('region_GrpEcCultDetailCopy') && !child_group_GrpEcCultDetailCopy_isInvisible()"  >
                                    <div id="DecisionMaking_ControllerGrpEcCultDetailCopy" data-ng-controller="DecisionMaking.ControllerGrpEcCultDetailCopy" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                                        <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                                            <div class="TopGridArea">
                                                <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                                                <h3>{{getALString(gridTitle())}}</h3>
                                            </div>
                                            <div data-on-key-down="gridPageDown()" data-keys="[34]">
                                                <div id="GrpEcCultDetailCopy_tableId" data-ng-grid="modelGrpEcCultDetailCopy.grid" class="gridStyle">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="region_GrpEcGroupCopy_1" data-ng-show="isTabActive('region_GrpEcGroupCopy_1') && !child_group_EcCultCopyCover_isInvisible()"  >
                        <div id="DecisionMaking_ControllerEcCultCopyCover" data-ng-controller="DecisionMaking.ControllerEcCultCopyCover" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                            <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                                <div class="TopGridArea">
                                    <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                                    <h3>{{getALString(gridTitle())}}</h3>
                                </div>
                                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                                    <div id="EcCultCopyCover_tableId" data-ng-grid="modelEcCultCopyCover.grid" class="gridStyle">
                                    </div>
                                </div>
                            </div>
                            <div style='margin:1em 0'></div>
                            <div data-np-tabs data-ng-show="!(child_group_EcCultDetailCopyCover_isInvisible())" class="ui-tabs">
                                <ul class="ui-tabs-nav">
                                    <li data-ng-show="!child_group_EcCultDetailCopyCover_isInvisible()" ><a href="#region_EcCultDetailCopyCover">{{getALString("Criteria")}}</a></li>
                                </ul>
                                <div id="region_EcCultDetailCopyCover" data-ng-show="isTabActive('region_EcCultDetailCopyCover') && !child_group_EcCultDetailCopyCover_isInvisible()"  >
                                    <div id="DecisionMaking_ControllerEcCultDetailCopyCover" data-ng-controller="DecisionMaking.ControllerEcCultDetailCopyCover" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                                        <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                                            <div class="TopGridArea">
                                                <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                                                <h3>{{getALString(gridTitle())}}</h3>
                                            </div>
                                            <div data-on-key-down="gridPageDown()" data-keys="[34]">
                                                <div id="EcCultDetailCopyCover_tableId" data-ng-grid="modelEcCultDetailCopyCover.grid" class="gridStyle">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="region_GrpEcGroupCopy_2" data-ng-show="isTabActive('region_GrpEcGroupCopy_2') && !child_group_EcCultCopySuper_isInvisible()"  >
                        <div id="DecisionMaking_ControllerEcCultCopySuper" data-ng-controller="DecisionMaking.ControllerEcCultCopySuper" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                            <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                                <div class="TopGridArea">
                                    <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                                    <h3>{{getALString(gridTitle())}}</h3>
                                </div>
                                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                                    <div id="EcCultCopySuper_tableId" data-ng-grid="modelEcCultCopySuper.grid" class="gridStyle">
                                    </div>
                                </div>
                            </div>
                            <div style='margin:1em 0'></div>
                            <div data-np-tabs data-ng-show="!(child_group_EcCultDetailCopySuper_isInvisible())" class="ui-tabs">
                                <ul class="ui-tabs-nav">
                                    <li data-ng-show="!child_group_EcCultDetailCopySuper_isInvisible()" ><a href="#region_EcCultDetailCopySuper">{{getALString("Criteria")}}</a></li>
                                </ul>
                                <div id="region_EcCultDetailCopySuper" data-ng-show="isTabActive('region_EcCultDetailCopySuper') && !child_group_EcCultDetailCopySuper_isInvisible()"  >
                                    <div id="DecisionMaking_ControllerEcCultDetailCopySuper" data-ng-controller="DecisionMaking.ControllerEcCultDetailCopySuper" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
                                        <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                                            <div class="TopGridArea">
                                                <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                                                <h3>{{getALString(gridTitle())}}</h3>
                                            </div>
                                            <div data-on-key-down="gridPageDown()" data-keys="[34]">
                                                <div id="EcCultDetailCopySuper_tableId" data-ng-grid="modelEcCultDetailCopySuper.grid" class="gridStyle">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
