<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:shiro="http://shiro.apache.org/tags">

<!-- <h:head><title>Role Security Login Page</title></h:head> -->
<h:head></h:head>

<f:metadata>
    <f:event type="preRenderView" listener="#{loginController.redirectForLoggedInAndOpportunisticSSOLogin}" />
</f:metadata>


<h:body>
You are not supposed to ever see this page.
</h:body>
</html>