<div class="resizable2" id="NpMainContent">
    <div id="DataFile" style="display:none" class="well NrlForm EditPage" data-ng-controller="DataFile.PageController" data-on-key-down="navigateBackward()" data-keys="[27]">
        <div data-alert="" data-ng-repeat="alert in pageModel.alerts" data-type="alert.type" data-close="closeAlert($index)">
            <div data-ng-bind-html-unsafe="alert.msg"></div>
        </div>
        <div class="TopFormArea">
            <h2>{{getALString(getPageTitle())}}</h2>
            <div class="saveCancel">
                <button  id="saveBtn_id"   data-np-click  ="onSaveBtnAction()" data-ng-class="" 
                data-ng-disabled="saveIsDisabled()"  >
                    <i class="icon save"/>
                    {{getALString(getLabelById('saveBtn_id'))}}
                </button>

                <button  id="cancelBtn_id"   data-np-click  ="onCancelBtnAction()" data-ng-class="" 
                data-ng-disabled="cancelIsDisabled()"  >
                    <i class="icon back"/>
                    {{getALString(getLabelById('cancelBtn_id'))}}
                </button>

            </div>
        </div>
        <div style="clear:both"></div>
        <div id="DataFile_ControllerGrpDataFile" data-ng-controller="DataFile.ControllerGrpDataFile" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
            <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                <div class="TopGridArea">
                    <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                    <button data-ng-click="model.showSearchParams=!model.showSearchParams" data-ng-class="'FiltersOn'" ><i class="icon filter" />{{getALString("Show Filters")}}</button>
                    <h3>{{getALString(gridTitle())}}</h3>
                </div>
                <div class="GridSearchArea" data-ng-show="model.showSearchParams">
                    <table>
                        <tr>
                            <td colspan="2" style="width:16%" >
                                <label class="pull-left" for="GrpDataFile_srchr__fsch_filename"  data-ng-bind="getALString('Name')"   />
                            </td>
                            <td colspan="3" style="width:25%" >
                                <label class="pull-left" for="GrpDataFile_srchr__fsch_clasId"  data-ng-bind="getALString('Classification')"   />
                            </td>
                            <td colspan="3" style="width:25%" >
                                <label class="pull-left" for="GrpDataFile_srchr__fsch_fiteId"  data-ng-bind="getALString('File Template')"   />
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="width:16%" >
                                <input name='GrpDataFile_srchr__fsch_filename' data-ng-model='modelGrpDataFile.fsch_filename' data-np-ui-model='modelGrpDataFile._fsch_filename' data-ng-readonly='GrpDataFile_srchr__fsch_filename_disabled()' data-np-text='dummy' />
                            </td>
                            <td colspan="3" style="width:25%" >
                                <div data-on-key-down='!GrpDataFile_srchr__fsch_clasId_disabled() && showLov_GrpDataFile_srchr__fsch_clasId()' data-keys='[123]' >
                                <input data-np-source='modelGrpDataFile.fsch_clasId.name' data-np-ui-model='modelGrpDataFile._fsch_clasId'  data-np-context=''  data-np-lookup="" class='npLovInput' name='GrpDataFile_srchr__fsch_clasId' readonly='true'  > 
                                <button class='npLovButton' type='button' data-np-click='showLov_GrpDataFile_srchr__fsch_clasId()'   data-ng-disabled="GrpDataFile_srchr__fsch_clasId_disabled()"   /> 
                                </div>
                            </td>
                            <td colspan="3" style="width:25%" >
                                <div data-on-key-down='!GrpDataFile_srchr__fsch_fiteId_disabled() && showLov_GrpDataFile_srchr__fsch_fiteId()' data-keys='[123]' >
                                <input data-np-source='modelGrpDataFile.fsch_fiteId.name' data-np-ui-model='modelGrpDataFile._fsch_fiteId'  data-np-context=''  data-np-lookup="" class='npLovInput' name='GrpDataFile_srchr__fsch_fiteId' readonly='true'  > 
                                <button class='npLovButton' type='button' data-np-click='showLov_GrpDataFile_srchr__fsch_fiteId()'   data-ng-disabled="GrpDataFile_srchr__fsch_fiteId_disabled()"   /> 
                                </div>
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                            <td colspan="1"  >
                            </td>
                        </tr>
                    </table>
                    <div class="GridSearchAreaFooter">
                        <button data-np-click="updateGrid()"><i class="icon search" />{{getALString("Search")}}</button>
                        <button data-np-click="clearBtnAction()"><i class="icon clear" />{{getALString("Clear")}}</button>
                    </div>
                </div>
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div id="GrpDataFile_tableId" data-ng-grid="modelGrpDataFile.grid" class="gridStyle">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
