<div id="FileDirPath" style="display:none" class="well NrlDialog" data-ng-controller="FileDirPath.PageController" data-on-key-down="navigateBackward()" data-keys="[27]">
    <div data-on-key-down="onEscWhileInDialog()" data-keys="[27]">
        <div data-alert="" data-ng-repeat="alert in pageModel.alerts" data-type="alert.type" data-close="closeAlert($index)">
            <div data-ng-bind-html-unsafe="alert.msg"></div>
        </div>
        <div id="FileDirPath_ControllerGrpFileDirPath" data-ng-controller="FileDirPath.ControllerGrpFileDirPath" data-ng-class="'FloatLeft'" data-ng-show="!isInvisible()" >
            <div data-on-key-down="gridPageUp()" data-keys="[33]" class="NpTable">
                <div class="TopGridArea">
                    <button data-np-click="createNewEntityAndAddToUI()" data-ng-disabled="newIsDisabled()" ><i class="icon new"></i>{{getALString("New Record")}}</button>
                    <h3>{{getALString(gridTitle())}}</h3>
                </div>
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div id="GrpFileDirPath_tableId" data-ng-grid="modelGrpFileDirPath.grid" class="gridStyle">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="saveCancel">
                <button  id="saveBtn_id"   data-np-click  ="onSaveBtnAction()" data-ng-class="" 
                data-ng-disabled="saveIsDisabled()"  >
                    <i class="icon save"/>
                    {{getALString(getLabelById('saveBtn_id'))}}
                </button>

                <button  id="cancelBtn_id"   data-np-click  ="onCancelBtnAction()" data-ng-class="" 
                data-ng-disabled="cancelIsDisabled()"  >
                    <i class="icon back"/>
                    {{getALString(getLabelById('cancelBtn_id'))}}
                </button>

            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
