<div id="Classifier_Id" style="display:none" class="LovDialog NrlDialog" data-ng-controller="ControllerLovClassifier">
    <div class="NpTable">
        <div class="GridSearchArea" data-ng-show="model.showSearchParams">
            <h4>{{getALString("Search Criteria")}}</h4>
            <table>
                <tr>
                    <td colspan="3" style="width:25%" >
                        <label class="pull-left" for="LovClassifier_fsch_ClassifierLov_name"  data-ng-bind="getALString('Name')"   />
                    </td>
                    <td colspan="4" style="width:33%" >
                        <label class="pull-left" for="LovClassifier_fsch_ClassifierLov_description"  data-ng-bind="getALString('Description')"   />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="width:25%" >
                        <input name='LovClassifier_fsch_ClassifierLov_name' data-ng-model='modelLovClassifier.fsch_ClassifierLov_name' data-np-ui-model='modelLovClassifier._fsch_ClassifierLov_name' data-ng-readonly='LovClassifier_fsch_ClassifierLov_name_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="4" style="width:33%" >
                        <input name='LovClassifier_fsch_ClassifierLov_description' data-ng-model='modelLovClassifier.fsch_ClassifierLov_description' data-np-ui-model='modelLovClassifier._fsch_ClassifierLov_description' data-ng-readonly='LovClassifier_fsch_ClassifierLov_description_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
            </table>
            <div class="GridSearchAreaFooter">
                <button data-np-click="updateGrid()"><i class="icon search" />{{getALString("Search")}}</button>
                <button data-np-click="clearBtnAction()"><i class="icon clear" />{{getALString("Clear")}}</button>
                <button data-np-click="selectActiveSetEntities()" data-ng-show="isMultiSelect()">(+)</button>
                <button data-np-click="unUselectActiveSetEntities()" data-ng-show="isMultiSelect()">(-)</button>

            </div>
        </div>
        <div data-on-key-down="closeDialog()" data-keys="[123,13]"><!-- The dialog must close with F12 and ENTER -->
            <div data-on-key-down="gridPageUp()" data-keys="[33]">
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div
                         tabIndex="0" 
                            id="lovGridId" 
                            data-ng-grid="modelLovClassifier.grid" 
                            class="gridStyle">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LovButtonsArea">
        <button data-np-click="closeDialog()"><i class="icon select"/>{{getALString("LovButtons_Select")}}</button>
        <button data-np-click="modelLovClassifier.selectedEntities = [null] ; closeDialog()"><i class="icon clear"/>{{getALString("LovButtons_Clear")}}</button>
        <button data-ng-show="modelLovClassifier.dialogOptions.hasNewButton" data-np-click="openNewEntityDialog()"><i class="icon new"/>{{getALString("LovButtons_New")}}</button>
    </div>
</div>
