<div id="DecisionMaking_Id" style="display:none" class="LovDialog NrlDialog" data-ng-controller="ControllerLovDecisionMaking">
    <div class="NpTable">
        <div class="GridSearchArea" data-ng-show="model.showSearchParams">
            <h4>{{getALString("Search Criteria")}}</h4>
            <table>
                <tr>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovDecisionMaking_fsch_DecisionMakingLov_description"  data-ng-bind="getALString('Description')"   />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovDecisionMaking_fsch_DecisionMakingLov_dateTime"  data-ng-bind="getALString('Date')"   />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="width:16%" >
                        <input name='LovDecisionMaking_fsch_DecisionMakingLov_description' data-ng-model='modelLovDecisionMaking.fsch_DecisionMakingLov_description' data-np-ui-model='modelLovDecisionMaking._fsch_DecisionMakingLov_description' data-ng-readonly='LovDecisionMaking_fsch_DecisionMakingLov_description_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='LovDecisionMaking_fsch_DecisionMakingLov_dateTime' data-ng-model='modelLovDecisionMaking.fsch_DecisionMakingLov_dateTime' data-np-ui-model='modelLovDecisionMaking._fsch_DecisionMakingLov_dateTime' data-ng-readonly='LovDecisionMaking_fsch_DecisionMakingLov_dateTime_disabled()' data-np-date='dummy' data-np-format='dd-MM-yyyy' />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
            </table>
            <div class="GridSearchAreaFooter">
                <button data-np-click="updateGrid()"><i class="icon search" />{{getALString("Search")}}</button>
                <button data-np-click="clearBtnAction()"><i class="icon clear" />{{getALString("Clear")}}</button>
                <button data-np-click="selectActiveSetEntities()" data-ng-show="isMultiSelect()">(+)</button>
                <button data-np-click="unUselectActiveSetEntities()" data-ng-show="isMultiSelect()">(-)</button>

            </div>
        </div>
        <div data-on-key-down="closeDialog()" data-keys="[123,13]"><!-- The dialog must close with F12 and ENTER -->
            <div data-on-key-down="gridPageUp()" data-keys="[33]">
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div
                         tabIndex="0" 
                            id="lovGridId" 
                            data-ng-grid="modelLovDecisionMaking.grid" 
                            class="gridStyle">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LovButtonsArea">
        <button data-np-click="closeDialog()"><i class="icon select"/>{{getALString("LovButtons_Select")}}</button>
        <button data-np-click="modelLovDecisionMaking.selectedEntities = [null] ; closeDialog()"><i class="icon clear"/>{{getALString("LovButtons_Clear")}}</button>
        <button data-ng-show="modelLovDecisionMaking.dialogOptions.hasNewButton" data-np-click="openNewEntityDialog()"><i class="icon new"/>{{getALString("LovButtons_New")}}</button>
    </div>
</div>
