<div id="GpRequestsContexts_Id" style="display:none" class="LovDialog NrlDialog" data-ng-controller="ControllerLovGpRequestsContexts">
    <div class="NpTable">
        <div class="GridSearchArea" data-ng-show="model.showSearchParams">
            <h4>{{getALString("Search Criteria")}}</h4>
            <table>
                <tr>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovGpRequestsContexts_fsch_GpRequestsContextsLov_type"  data-ng-bind="getALString('type')"   />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovGpRequestsContexts_fsch_GpRequestsContextsLov_label"  data-ng-bind="getALString('label')"   />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovGpRequestsContexts_fsch_GpRequestsContextsLov_comment"  data-ng-bind="getALString('comment')"   />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovGpRequestsContexts_fsch_GpRequestsContextsLov_geomHexewkb"  data-ng-bind="getALString('geomHexewkb')"   />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="width:16%" >
                        <input name='LovGpRequestsContexts_fsch_GpRequestsContextsLov_type' data-ng-model='modelLovGpRequestsContexts.fsch_GpRequestsContextsLov_type' data-np-ui-model='modelLovGpRequestsContexts._fsch_GpRequestsContextsLov_type' data-ng-readonly='LovGpRequestsContexts_fsch_GpRequestsContextsLov_type_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='LovGpRequestsContexts_fsch_GpRequestsContextsLov_label' data-ng-model='modelLovGpRequestsContexts.fsch_GpRequestsContextsLov_label' data-np-ui-model='modelLovGpRequestsContexts._fsch_GpRequestsContextsLov_label' data-ng-readonly='LovGpRequestsContexts_fsch_GpRequestsContextsLov_label_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='LovGpRequestsContexts_fsch_GpRequestsContextsLov_comment' data-ng-model='modelLovGpRequestsContexts.fsch_GpRequestsContextsLov_comment' data-np-ui-model='modelLovGpRequestsContexts._fsch_GpRequestsContextsLov_comment' data-ng-readonly='LovGpRequestsContexts_fsch_GpRequestsContextsLov_comment_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='LovGpRequestsContexts_fsch_GpRequestsContextsLov_geomHexewkb' data-ng-model='modelLovGpRequestsContexts.fsch_GpRequestsContextsLov_geomHexewkb' data-np-ui-model='modelLovGpRequestsContexts._fsch_GpRequestsContextsLov_geomHexewkb' data-ng-readonly='LovGpRequestsContexts_fsch_GpRequestsContextsLov_geomHexewkb_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
            </table>
            <div class="GridSearchAreaFooter">
                <button data-np-click="updateGrid()"><i class="icon search" />{{getALString("Search")}}</button>
                <button data-np-click="clearBtnAction()"><i class="icon clear" />{{getALString("Clear")}}</button>
                <button data-np-click="selectActiveSetEntities()" data-ng-show="isMultiSelect()">(+)</button>
                <button data-np-click="unUselectActiveSetEntities()" data-ng-show="isMultiSelect()">(-)</button>

            </div>
        </div>
        <div data-on-key-down="closeDialog()" data-keys="[123,13]"><!-- The dialog must close with F12 and ENTER -->
            <div data-on-key-down="gridPageUp()" data-keys="[33]">
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div
                         tabIndex="0" 
                            id="lovGridId" 
                            data-ng-grid="modelLovGpRequestsContexts.grid" 
                            class="gridStyle">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LovButtonsArea">
        <button data-np-click="closeDialog()"><i class="icon select"/>{{getALString("LovButtons_Select")}}</button>
        <button data-np-click="modelLovGpRequestsContexts.selectedEntities = [null] ; closeDialog()"><i class="icon clear"/>{{getALString("LovButtons_Clear")}}</button>
        <button data-ng-show="modelLovGpRequestsContexts.dialogOptions.hasNewButton" data-np-click="openNewEntityDialog()"><i class="icon new"/>{{getALString("LovButtons_New")}}</button>
    </div>
</div>
