<div id="ParcelClas_Id" style="display:none" class="LovDialog NrlDialog" data-ng-controller="ControllerLovParcelClas">
    <div class="NpTable">
        <div class="GridSearchArea" data-ng-show="model.showSearchParams">
            <h4>{{getALString("Search Criteria")}}</h4>
            <table>
                <tr>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovParcelClas_fsch_ParcelClasLov_probPred"  data-ng-bind="getALString('probPred')"   />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovParcelClas_fsch_ParcelClasLov_probPred2"  data-ng-bind="getALString('probPred2')"   />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovParcelClas_fsch_ParcelClasLov_prodCode"  data-ng-bind="getALString('Κωδικός')"   />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <label class="pull-left" for="LovParcelClas_fsch_ParcelClasLov_parcIdentifier"  data-ng-bind="getALString('parcIdentifier')"   />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="width:16%" >
                        <input name='LovParcelClas_fsch_ParcelClasLov_probPred' data-ng-model='modelLovParcelClas.fsch_ParcelClasLov_probPred' data-np-ui-model='modelLovParcelClas._fsch_ParcelClasLov_probPred' data-ng-readonly='LovParcelClas_fsch_ParcelClasLov_probPred_disabled()' data-np-number='dummy' data-np-decimals='10' data-np-decSep=',' data-np-thSep='.' class='ngCellNumber' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='LovParcelClas_fsch_ParcelClasLov_probPred2' data-ng-model='modelLovParcelClas.fsch_ParcelClasLov_probPred2' data-np-ui-model='modelLovParcelClas._fsch_ParcelClasLov_probPred2' data-ng-readonly='LovParcelClas_fsch_ParcelClasLov_probPred2_disabled()' data-np-number='dummy' data-np-decimals='10' data-np-decSep=',' data-np-thSep='.' class='ngCellNumber' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='LovParcelClas_fsch_ParcelClasLov_prodCode' data-ng-model='modelLovParcelClas.fsch_ParcelClasLov_prodCode' data-np-ui-model='modelLovParcelClas._fsch_ParcelClasLov_prodCode' data-ng-readonly='LovParcelClas_fsch_ParcelClasLov_prodCode_disabled()' data-np-number='dummy' data-np-decimals='0' data-np-decSep=',' data-np-thSep='.' class='ngCellNumber' />
                    </td>
                    <td colspan="1" style="width:16%" >
                        <input name='LovParcelClas_fsch_ParcelClasLov_parcIdentifier' data-ng-model='modelLovParcelClas.fsch_ParcelClasLov_parcIdentifier' data-np-ui-model='modelLovParcelClas._fsch_ParcelClasLov_parcIdentifier' data-ng-readonly='LovParcelClas_fsch_ParcelClasLov_parcIdentifier_disabled()' data-np-text='dummy' />
                    </td>
                    <td colspan="1"  >
                    </td>
                    <td colspan="1"  >
                    </td>
                </tr>
            </table>
            <div class="GridSearchAreaFooter">
                <button data-np-click="updateGrid()"><i class="icon search" />{{getALString("Search")}}</button>
                <button data-np-click="clearBtnAction()"><i class="icon clear" />{{getALString("Clear")}}</button>
                <button data-np-click="selectActiveSetEntities()" data-ng-show="isMultiSelect()">(+)</button>
                <button data-np-click="unUselectActiveSetEntities()" data-ng-show="isMultiSelect()">(-)</button>

            </div>
        </div>
        <div data-on-key-down="closeDialog()" data-keys="[123,13]"><!-- The dialog must close with F12 and ENTER -->
            <div data-on-key-down="gridPageUp()" data-keys="[33]">
                <div data-on-key-down="gridPageDown()" data-keys="[34]">
                    <div
                         tabIndex="0" 
                            id="lovGridId" 
                            data-ng-grid="modelLovParcelClas.grid" 
                            class="gridStyle">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="LovButtonsArea">
        <button data-np-click="closeDialog()"><i class="icon select"/>{{getALString("LovButtons_Select")}}</button>
        <button data-np-click="modelLovParcelClas.selectedEntities = [null] ; closeDialog()"><i class="icon clear"/>{{getALString("LovButtons_Clear")}}</button>
        <button data-ng-show="modelLovParcelClas.dialogOptions.hasNewButton" data-np-click="openNewEntityDialog()"><i class="icon new"/>{{getALString("LovButtons_New")}}</button>
    </div>
</div>
