/*
 * Tile selection
 */
.tile-toggle {
    position: absolute;
    top: 5px;
    right: 8px;
    width: 10em;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
.tile-toggle a {
    font-size: 20px;
    height: 24px;
    line-height: 24px;
}
.tile-toggle a:hover {
    background: rgba(0,60,136,0.7);
}

/*
 * Vector selection
 */
.layer-toggle {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}
.layer-toggle a {
    font-size: 20px;
    height: 24px;
    line-height: 24px;
}
.layer-toggle a:hover {
    background: rgba(0,60,136,0.7);
}

/*
 * Custom map buttons
 */
.NpMapBtn {
    position: absolute;
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
    width: 30px;
    height: 30px;
}

/*
 * The anchors inside the buttons all have the same attributes
 */
.NpMapBtnAnchor {
    display: block;
    color: white;
    font-size: 12px;
    font-family: 'Lucida Console','Courier New',monospace;
    font-weight: bold;
    margin: 1px;
    text-decoration: none;
    text-align: center;
    border-radius: 2px;
    height: 24px;
    width: 24px;
    background: rgba(0,60,136,0.5);
}

/*
 * Dont shadow them once they are visited
 */
.NpMapBtnAnchor:visited {
    color: #FFFFFF;
}

/*
 * The anchors inside the buttons all have the same hover attribute
 */
.NpMapBtnAnchor:hover {
    background: rgba(0,60,136,0.7) !important;
}

/*
 * common to all disabled btn
 */
.NpMapDisabledBtn {
    color:#999 !important;
}

/*
 * The coordinate span
 */
.NpMapCoordSpan {
    font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
    position: absolute;
    right: 10px;
    bottom: 33px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 19px #000000;
    color: #FFFFFF;
    font-size: 10px !important;

    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    background-clip: border-box;
    background-color: rgba(0, 60, 136, 0.298039);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-collapse: collapse;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    border-bottom-color: rgb(239, 238, 238);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-collapse: collapse;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(238, 238, 238);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(238, 238, 238);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(238, 238, 238);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(238, 238, 238);
}

h3.popover-title {
    float: none !important;
}
